<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
        
    <wb-module deploy-name="struts-demoEAR">
                
        <wb-resource deploy-path="/" source-path="/" tag="defaultRootSource"/>
                
        <dependent-module archiveName="struts-demo.war" deploy-path="/" handle="module:/resource/struts-demo/struts-demo">
                        
            <dependent-object>Module_1643797701617</dependent-object>
                        
            <dependency-type>uses</dependency-type>
                    
        </dependent-module>
        <dependent-module archiveName="awsapi.jar" deploy-path="/lib" handle="module:/resource/awsapi/awsapi">
            <dependency-type>uses</dependency-type>
        </dependent-module>
            
    </wb-module>
    
</project-modules>
